:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #a300a3;
  background-color: #fae6fa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.VideoCard{
  border: 1px solid hsl(0,0%,80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0,0%,0.1);
  padding:20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.VideoCard .VideoCard-image{
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 50%;
}
.VideoCard .VideoCard-title{
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}
.VideoCard .VideoCard-text{
  font-family: Arial, Helvetica, sans-serif ;
  font-size: 1em;
  color: #666;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.custom-light-green {
  background-color: #D6FAC3;
}

.custom-pale-peach {
  background-color: #FAEFD7;
}

.custom-text-color {
  color: #333; /* Dark gray */
}

.custom-button-text-color {
  color: #fff; /* White */
}

.custom-button-color {
  background-color: #D6FAC3; /* Custom light green */
  border-color: #D6FAC3;
}

.custom-button-color:hover {
  background-color: #C6E9B5; /* Lighter shade on hover */
  border-color: #C6E9B5;
}

.custom-button-color:active {
  background-color: #B3D9A9; /* Darker shade on active */
  border-color: #B3D9A9;
}